.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  max-width: 353px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 12px 0 0;
  color: #212121;
}

.card__like-btn {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.card__like-btn_liked {
  background-image: url(../images/liked.svg);
  width: 22px;
  opacity: 100%;
}

.card__like-btn_liked:hover {
  background-image: url(../images/likedhover.svg);
  transition: opacity 0.3s ease-in-out;
}

.card__delete-btn {
  background-image: url(../images/delete.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__delete-btn:hover {
  background-image: url(../images/deletehover.svg);
  opacity: 100%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 260px;
    font-size: 16px;
    line-height: 20px;
  }
}