.footer {
  display: flex;
  justify-content: center;
}

.footer__text {
  width: 104;
  height: 16;
  top: 1340px;
  left: 668px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}