.main {
  display: grid;
  max-width: 1440px;
  height: 970;
  top: 310px;
  left: 80px;
  border-bottom-width: 1px;
  padding-bottom: 40px;
  gap: 20px;
  border-bottom: 1px solid #21212166;
  margin: 0;
}

.card__image {
  width: 413px;
  height: 413px;
}

.card__description {
  width: 119;
  height: 24;
  top: 425px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
}