.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__container {
  position: relative;
  background-color: #fff;
  max-width: 730px;
  border-radius: 8px;
  padding: 32px 50px;
  width: 100%;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url('../images/close.svg');
  border: hidden;
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  width: 169px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  opacity: 70%;
  max-width: 630px;
}

.modal__input {
  padding: 16px 12px;
  max-width: 630px;
  border-radius: 8px;
  border: 1px solid;
  opacity: 40%;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #000;
  color: #FCF5E5;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 8px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }
  .modal__container {
    padding: 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    margin: 10px 0 24px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}