.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  max-width: 730px;
  background-color: #fff;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  padding: 32px 50px;
}

.modal__container_delete {
  background-color: #fff;
  max-width: 630px;
  min-height: 172px;
}

.modal__container_preview {
  padding: 0;
  background-color: transparent;
}

.modal__image {
  border-radius: 8px;
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/close.svg");
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 60%;
}

.modal__close-btn_preview {
  background-image: url("../images/closewhite.svg");
  position: absolute;
  background-color: transparent;
  top: 0;
  right: -50px;
}

.modal__close-btn_preview:hover {
  background-image: url("../images/closehover.svg");
}

.modal__close-btn_delete {
  top: 0;
  right: -50px;
  width: 40px;
  height: 40px;
  background-image: url("../images/closewhite.svg");
  background-color: transparent;
  border: none;
}

.modal__caption {
  margin: 8px 0 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  height: 32px;
  background: #212121;
  color: #fff;
  border-radius: 8px;
  max-width: 214px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 4px 8px;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  width: 630px;
}

.modal__title-delete {
  font-size: 24px;
  margin-bottom: 16px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  opacity: 70%;
  max-width: 630px;
}

.modal__input {
  padding: 16px 12px;
  max-width: 630px;
  border-radius: 8px;
  border: 1px solid;
  opacity: 40%;
  font-size: 20px;
  font-weight: 500;
}

.modal__input:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #000;
  color: #fcf5e5;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 80%;
}

.modal__submit-btn_disabled {
  opacity: 50%;
}

.modal__submit-btn_disabled:hover {
  cursor: default;
  opacity: 50%;
}

.modal__submit-btn_delete {
  background-color: #ff6565;
  border: none;
  color: #212121;
  margin: 0 20px 0 99px;
}

.modal__submit-btn_delete:hover {
  opacity: 100%;
  transition: all 0.3s ease-in-out;
  background-color: #ff3333;
  color: #212121;
  cursor: url("../images/large-cursor.svg"), pointer;
}

.modal__submit-btn_cancel {
  background-color: #fff;
  color: #212121;
  border: 1px solid;
  /* margin-right: 80px; */
}

.modal__submit-btn_cancel:hover {
  opacity: 100%;
  transition: all 0.3s ease-in-out;
  background-color: #212121;
  color: #fff;
  cursor: url("../images/large-cursor.svg"), pointer;
}

.modal__error {
  color: #ff0000;
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 300px;
    padding: 12px 12px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    margin: 10px 0 24px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__caption {
    font-size: 16px;
    font-weight: 500;
    max-width: 130px;
    padding: 4px 8px;
    height: 27px;
  }

  .modal__close-btn_preview {
    position: absolute;
    right: 0px;
    top: -40px;
    padding: 0;
  }

  .modal__image {
    max-width: 288px;
    border-radius: 4px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn_delete {
    margin: 0 62px 0 62px;
    width: 152px;
    height: 52px;
  }

  .modal__submit-btn_cancel {
    width: 152px;
    height: 52px;
    margin: 12px 62px 0 62px;
  }

  .modal__title-delete {
    max-width: 276px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0 0 16px;
  }

  .modal__close-btn_delete {
    top: -50px;
    right: 0px;
  }
}
